@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4;
}

html {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
}

html, body {
    min-height: 100%;
}

body {
    width: 192rem;
    height: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* COLORS */
.white {
    color: #fff;
}

.bg-grey {
    background-color: #ECF0F1;
}

.bg-grey-transp {
    background-color: #ecf0f142;
}

.bg-grey-darker {
    background-color: #707070;
}

.bg-light-grey {
    background-color: #EAEBEC;
}

.bg-light {
    background-color: #F6F6F6;
}

.bg-lightest {
    background-color: #ECF0F1;
}

.bg-dark-grey {
    background-color: #A1B1BC;
}

.bg-white {
    background-color: #fff;
}

.bg-dark-blue {
    background-color: #2C3E50!important;
}

.bg-dark-blue-2 {
    background-color: #34495E;
}

.bg-green {
    background-color: #1ABC9C;
}
/* COLORS */


/*******************************header*********************************/
header h1 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 9px;
    margin-left: 1rem;
}

header p:first-of-type {
   font-size: 6rem;
   font-weight: 900;
   margin-bottom: .2rem;
}

header p:last-of-type {
    font-size: 3rem;
    font-weight: 300;
}

header, header button {
    color: #fff;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 128rem;
    background-color: #222533; 
}

header * {
    text-transform: uppercase;
}

header h1 span {
    color: #1ABC9C;
}

header button {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 900;
    padding: 1.5rem  2.7rem ;
    cursor: pointer;
    background-color: transparent;
    margin-top: 3.85rem;
    margin-bottom: 4rem;
    border-radius: 3px;
}

header button:first-of-type{
    border: 2px solid #fff;
    margin-right: 1.8rem;
}

header button:last-of-type {
    padding: 1.7rem  2.7rem ;
    background-color: #1ABC9C;
    border:none;
}

.header_container {
    position: relative;
    bottom: 1.9rem;
}

.radio_group {
    display: flex;
    gap: .9rem;
    justify-content: center;
}

.radio_group input[type=radio] {
    border: 0px;
    width: 1.47rem;
    height: 1.47rem;
}

/*******************************header*********************************/

/*******************************Navigation*********************************/
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2.1rem;
    margin-bottom: 11.7rem;
    margin-bottom: 9.6rem;
    border-bottom: 3px solid #70707013;
    padding-bottom: 1.8rem;
}

.navigation .logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.41rem;
    font-size: 3.569rem;
    margin-right: 7.8rem;
    position: relative;
    right: 7.2rem;
}

.navigation .logo span {
    font-weight: 900;
}

.navigation img {
    max-width: 4rem;
    width: 100%;
    display: block;
}

.navigation ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #A1B1BC;
    gap: 4.63rem;
    font-size: 1.5rem;
}

.navigation ul a {
    color: inherit; 
}

/*******************************Navigation*********************************/

/*******************************Features*********************************/
.features {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}

.features_container {
  max-width: 27rem;
  width: 100%;
  text-align: center;
}

fieldset {
    border:1px solid #DBE7EF;
}

.features_container:nth-of-type(3){
    margin-top: -.5rem;
}

.features_container p:first-of-type {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1.8rem 3.59rem .7rem 3.59rem;
}

.features_container p:last-of-type {
    font-size: 1.4rem;
    font-weight: normal;
    color: #A1B1BC;
    padding: 0 4rem 3.2rem 4rem;
    line-height: 1.75;
}

.features_container--img {
    position: relative;
    padding: 2rem;
    display: inline-flex;
    border: 1px solid #DBE7EF;
    border-radius: 50%;
    z-index: 3;
}

.features_container--img:after{
    display: block;
    content: " ";
    position: absolute;
    z-index: -1;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border: 1px solid #DBE7EF;
    border-radius: 50%;
}

/*******************************Features*********************************/

/*******************************About*********************************/
.about {
    display: flex;
    background-color: #ecf0f14d;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 8.83rem 0 10.7rem 0;
    gap: 3.1rem;
}

.about h2 {
    font-size: 3.6rem;
    font-weight: 300;
}

.about p {
    font-size: 1.4rem;
    line-height: 1.75;
    color:#A1B1BC;
}

.about p:first-of-type {
   margin: 1.2rem 0 2.2rem 0;
}

.about p:last-of-type {
    margin-bottom: 2.65rem;
}

.about button {
    text-transform: uppercase;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 900;
    color: #34495E;
    border: 1px solid #DBE7EF;
    border-radius: 3px;
    cursor: pointer;
    padding: 1.47rem 4rem 1.3rem 4.01rem;
    position: relative;
    right: 2px;
}

.about__container {
    width:57rem;
}

.about__container__img {
    max-width: 54.3rem;
    position: relative;
    left: 3.3rem;
    top: 1rem;
}
/*******************************About*********************************/

/*******************************Capabilities*********************************/
.capabilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222533;
    padding: 8.69rem 0 11.8rem 0;
}

.capabilities h2 {
    font-size: 3.6rem;
    font-weight: 300;
    color: #fff;
    margin-bottom: .84rem;
}

.capabilities p {
    color: #fff;
    line-height: 1.7;
}

.capabilities__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.capabilities__container .row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4.5rem;
}

.capabilities__container__text {
    text-align: center;
}

.capabilities__container__text > p {
    text-align: center;
    font-size: 1.4rem;
    max-width: 63.07rem;
}

.capabilities__container span {
    display: inline-flex;
    background-color: #ECF0F1;
    border-radius: 50%;
    font-size: 1.8rem;
    padding: 3.97rem 3.57rem 4.08rem 3.47rem;
    z-index: 10;
}

.capabilities__container span {
    box-shadow:
    0 0 0 40px hsl(0, 84%, 100%),
    0 0 0 15px hsl(0, 0%, 90%),
    0 0 0 48px #1ABC9C;
    margin: 10.4rem 10rem 7rem 10rem;
}

.capabilities__container .circle:nth-of-type(2) span {
    box-shadow:
    0 0 0 40px hsl(0, 84%, 100%),
    0 0 0 15px hsl(0, 0%, 90%),
    0 0 0 48px #21C2F8;
}

.capabilities__container .circle:first-of-type { 
    right: .8rem;
}

.capabilities__container .circle:nth-of-type(2) { 
    right: .2rem;
}

.capabilities__container .circle:nth-of-type(3) { 
    left: .2rem;
}

.capabilities__container .circle:nth-of-type(4) { 
    left: .7rem;
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;  
    max-width: 13%;
}


.circle p {
   text-align: center;
}

.circle p:first-of-type {
    font-size: 1.8rem;
  
}

.circle p:last-of-type {
    font-size: 1.4rem;
    margin-top: 1.1rem;
}

.circle-dark {
    background-color: #2C3E50!important;
}

.text-white {
    color: #fff;
}

/*******************************Capabilities*********************************/

/*******************************Services*********************************/
.services {
    margin-top: 8.7rem;
}
.services__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services .row-container {
    display: flex;
    flex-wrap: wrap;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-container > h2 {
    font-size: 3.6rem;
    font-weight: 300;
    margin-bottom: 1.1rem;
}

.text-container > p {
    font-size: 1.4rem;
    color: #A1B1BC;
    line-height: 1.7;
    max-width: 63.7rem;
}

.icon-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    max-width: 25%;
    border: 1px solid #ECF0F1;
    padding: 4.7rem 6.89rem 4rem 6.89rem;
    margin-top: 4.3rem;

}

.icon-container img {
    margin-bottom: 3.7rem;
}

.icon-container h3 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
   
}

.icon-container p {
    color: #A1B1BC;
    font-size: 1.4rem;
    max-width: 33.958rem;
    line-height: 1.75;
}

.icon-container:nth-of-type(2) p {
    position: relative;
    bottom: 1px;
}

/*******************************Services*********************************/

/*******************************Recent Works*********************************/
.recent-works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 37.48rem;
    margin-top: 8.6rem;
    margin-bottom: 10.25rem;
}

.recent-works__container {
    display: flex;
    flex-direction: column;
}

.cats ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3.2rem;
    color: #A1B1BC;
    font-size: 1.4rem;
    padding: .5rem 0rem .8rem 0rem;
    border-top: 1px solid #ECF0F1;
    border-bottom: 1px solid #ECF0F1;
    margin-bottom: 5rem;
    align-items: center;
}

.cats ul a {
    color: inherit;
}

.cats ul li:last-child {
    margin-left:auto;
}

.cats ul button {
    border-radius: 5px;
    background-color: #ECF0F1;
    padding: .8rem 2.22rem .9rem 2.5rem;
    border: none;

    top: 1px;
    letter-spacing: .3px;
    font-family: 'Lato', sans-serif;
}

.cats button {
    cursor: pointer;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text> h2 {
    font-size: 3.6rem;
    font-weight: 300;
    margin-bottom: 1.1rem;
}

.text > p {
    font-size: 1.4rem;
    color: #A1B1BC;
    line-height: 1.7;
    max-width: 63.7rem;
    margin-bottom:5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20rem 13rem 7rem;
}

#first {
    grid-area: 2 / 1 / span2 / 1;
}

#second {
    grid-area: 2 / 2 / span2 / 2;
}

#third {
  grid-area: 2 / 4 / span 2 / 4;
}

.hover-div {
    position: absolute;
    top: 25%;
    left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hover-div p:first-child {
   color: #2C3E50;
}



#eights {
    position: relative;
}

#eights span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 4.5rem;
    color: #fff;
    font-weight: 100;
}

#eights img {
    position: absolute;
    top: 12.2rem;
    left: 50%;
    transform: translateX(-50%); 
}

#nineth {
    position: relative;
    right: 1px;
    top: 1px;
}

#nineth p:first-child {
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 1.5px;
}

#nineth p:last-child {
    font-size: 1.2rem;
    font-weight: 400;
    color: #A1B1BC;
    letter-spacing: 1.3px;
    margin-top: 2px;
}

/*******************************Recent Works*********************************/

/*******************************What Buyers Say About Us*********************************/
.testimonials {
    display: flex;
    flex-direction: column;
    padding-top: 8.6rem;
    background-color: #ecf0f178;
    justify-content: center;
    align-items: center;
    padding-bottom: 3.5rem;
}

.testimonial {
    margin: 1.5rem 37.5rem 0 37.6rem;
    background-color: #fff;
    padding: 4.48rem 11.5rem 5rem 11.5rem;
    border: 1px solid #ECF0F1;
}

.testimonial p {
    color: #A1B1BC;
    font-size: 1.8rem;
    text-align: center;

    line-height: 1.65;
}

.testimonial p:first-child {
    position: relative;
    bottom: 3px;
}

.testimonials .shape-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shape {
    display: inline-flex;
    position: relative;
    background-color: #A1B1BC;
    padding: 5rem;
    border-radius: 50%;
    margin-top: 3.4rem;
    margin-bottom: 2rem;
}

.shape p :first-of-type {
    position: relative;
    top: -2px;
}

.shape-container p:first-of-type {
    font-size: 1.8rem;
    font-weight: 900;
    color: #2C3E50;
    margin-left: 1px;
}

.shape-container p:last-of-type {
    font-size: 1.4rem;
    color: #A1B1BC;
    margin-bottom: 5.2rem;
}

.shape:after {
    display: block;
    content: " ";
    position: absolute;
    z-index: 5;
    inset: -7px;
    border: 1px solid rgb(219, 231, 239);
    border-radius: 50%;
}

.testimonials .radio_group {
    transform:scale(1);
    gap: 1.1rem;
    position: relative;
    left: .4rem;
}
/*******************************What Buyers Say About Us*********************************/

/*******************************New Features*********************************/
.new_features {
    padding: 8.89rem 23rem 0rem 23rem;
    background-color: #222533ef;
}

.new_features * {
    color: #fff!important;
}

.new_features .text h2 {
    margin-bottom: .21rem;
}

.new_features .text p {
    font-size: 1.5rem;
}

.new_features__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4.1rem;
}

.new_features__container__item {
    max-width: 33.33%;
}

.shape_block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 30rem;
    margin-bottom: 3.6rem;
}

.shape_block:first-child {
    margin-top: 7.9rem;
}

.shape_block p {
    font-size: 1.4rem; 
    text-align: end;
    line-height: 1.75;
}

.shape_block p:last-of-type {
   margin-top: .1rem;
   margin-right: .1rem;
}

.figure-block  {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: .7rem;
}

.figure-block h3 {
    font-size: 1.8rem;
    font-weight: 700;
}

.figure {
    padding:2.5rem;
    border-radius: 50%;
    background-color: #1FDAB5;
    position: relative;
}

.tick {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1.7rem;
    
}

.column-first, .column-second, .column-third {
    max-width: 33.33%;
}

.column-second {
    flex-grow: 1;
}

.column-third .figure-block {
    gap:1.2rem;
}

.column-third .figure-block h3 {
    order: 2;
}

.column-third .figure-block p {
    order: 1;
}

.column-third .shape_block {
    align-items: flex-start;
}

.column-third .shape_block p {
    text-align: left;
}

.big-shape {
    background-color: cadetblue;
    height: 65rem;
    width: 44.5rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-left: 2rem;
    margin-top: -1rem;
    
}
/*******************************New Features*********************************/

/*******************************Pricing Tables*********************************/
.pricing-tables {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8.64rem 23rem 0rem 23rem;
 /*    margin-top: 8.64rem; */
}

.pricing-tables .text h2 {
    margin-bottom: .4rem;
}

.pricing-tables .text p {
    margin-bottom: 8.5rem;
}

.table__container {
    display: grid;
    width: 117.2rem;
    height: 47.5rem;
    /* grid-template-columns: 29.3rem 29.3rem 29.3rem 29.3rem;
    grid-template-rows:15.2rem 3.9rem 3.9rem 3.9rem 3.9rem 3.9rem 3.9rem 12rem; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: .1rem;
}

.table__container__item {
    display: flex;
    justify-content: center;
}

.table__container__item h3 {
    font-size: 2.4rem;
    font-weight: 400;
    color: white;
}

.table__container__item p {
    color: #686D80;
    font-size: 1.4rem;
}

.table__container__item * {
    display: flex;
    align-self: center;
}

#table__container__item-first {
    grid-area: 1 / 1 / span 2 / 1;
   
}

#table__container__item-first h3 {
    color: #A1B1BC;
}

#table__container__item-second {
    padding: 1.55rem 9.57rem 1.55rem 9.53rem ;
}

.table__container__item--btn {
    display: inline-flex;
    font-size: 1.5rem;
    padding: .52rem 2.1rem .68rem 2.28rem;
    margin: 2.6rem 8.6rem 2.5rem 8.3rem;
    box-shadow: 0px 2px 1px 0px #707070;
}

.pricing {
    display: flex;
    flex-direction: column;
    background: rgb(29,209,173);
    background: linear-gradient(90deg, rgba(29,209,173,1) 21%, rgba(69,208,255,1) 100%);
    font-weight: 300;
  
}

.pricing p {
    font-size: 4.8rem;
    color: #fff;
}

.pricing  span {
    font-size: 1.4rem;
    color: #fff;
   position: relative;
   bottom: 15%;
   font-weight: 400;
}

.letter-q p {
    color:#EF584D;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

.letter-r p {
    color: #7BC200;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

.diff-item {
    position: relative;
    height: 125%;
    top: -25%;
}

.advertisement {
    height: 15rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #EAEBEC;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10.2rem;
    max-width: 117rem;
}

.advertisement__container {
    padding: 0 4.5rem;
    display: flex;
    flex-direction: column;
}


.advertisement__container::after{
    content: '';
    position: absolute;
    height: 92%;
    width: 1rem;
    background-color:#1ABC9C;
    top: .5rem;
    left: .5rem;
}

.advertisement h3 {
   font-size: 2.4rem;
   font-weight: 300;
   position: relative;
   bottom: .9rem;
}

.advertisement p {
    font-size: 1.4rem;
    color: #A1B1BC;
    max-width: 78%;
    line-height: 1.7;
 }

.advertisement a {
    color: #fff;
    background-color: #1ABC9C;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    padding: 1.4rem  2.7rem ;
    border-radius: 3px;
    position: relative;
    bottom: 1.6rem;
    left: 1rem;
}

.btn-block { 
    font-weight: 700;
    margin: 0 auto;
}

.advertisemen__text-container {
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 3.1rem;
    margin-bottom: .5rem;
}
/*******************************Pricing Tables*********************************/

/*******************************Clear and Clean Layouts*********************************/
.clear-layouts {
    padding: 0 33.1rem 0 37.5rem;
    margin-top: 20rem;
}

.clear-layouts__container {
    display: flex;
    gap: 5.5rem;
}

.clear-layouts__container:first-of-type {
    margin-bottom: 7.8rem;
}

.clear-layouts h2 {
    font-size: 3.6rem;
    font-weight: 300;
    margin-top: 5rem;
}

.four__box__container {
    max-width: 61.468rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6rem;
}

.clear-layouts .clear-layouts__container:nth-of-type(2)  {
   gap: 0rem;
}

.clear-layouts .clear-layouts__container:nth-of-type(2) .four__box__container h2 {
    margin-top: 0;
    margin-bottom: 5.1rem;
}

.clear-layouts .clear-layouts__container:nth-of-type(2) .four__box__container {
    margin-top: 0;
    margin-bottom: 5rem;
    position: relative;
    right: .1rem;
    top: .2rem;
}

.box-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 49%;
    margin-top: .5rem;
}

.box-container:nth-child(4),
.box-container:nth-child(5) {
    position: relative;
    top: 1.7rem; 
}

.box-container h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: -0.5rem;
}

.box-container p {
    font-size: 1.4rem;
    text-align: left;
    max-width: 80%;
    color: #A1B1BC;
    line-height: 1.75;
    position: relative;
    top: .7rem;
}

.box-container a {
    font-size: 1.5rem;
    font-weight: 700;
    color:#1ABC9C;
    position: relative;
    top: 1.3rem;
}

.box-shape__contaiener {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.quadrangle {
    order: 2;
}

.quadrangle img {
    transform: translateY(1.1rem);
}

#bottom-box--first {
    margin-bottom: 2rem;
}

#bottom-box--first,
#bottom-box--second {
    position: relative;
    bottom: 1.8rem;
}

.second-a {
    position: relative;
    top: 1.4rem!important;
}

/*******************************Clear and Clean Layouts*********************************/

/*******************************Breaking News*********************************/
.breaking-news {
    padding: 0 33.1rem 0 37.5rem;
    margin-top: 18rem;
    background-color: #fff;
}

.breaking-news .text {
    position: relative;
    right: 1.6rem;
}

.breaking-news .text p {
    position: relative;
    bottom: .6rem;
}

.breaking-news__container {
    display: flex;
    flex-direction: column;
}

.articles__container {
    display: flex;
    gap: 2.4rem;
    flex-wrap: wrap;
    /* max-width: 118.5rem; */
}

.article-block__container {
    display: flex;
    /* max-width: 33.33%; */
    max-width: 31%;
    gap: 1.9rem;
    margin-top: -.8rem;
}

.article-block__container--wider {
   /*  max-width: 33.5%; */
}

.article-block__container--taller {
    position: relative;
    top: 2.6rem;
}

.article-block__container__shape {
    width: 17rem;
    height: 20rem;
    background-color: #CCCCCC;
}
#text__block--first {
    max-width: 40%;
    margin-bottom: 1rem;
}

.text__block h4 {
    color: #2C3E50;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    line-height: 1.46;
    position: relative;
    bottom: .5rem;
}
.text__block h4:nth-last-of-type(3)  {
    max-width: 90%;
}


.text__block span {
    font-size: 1.4rem;
    color: #A1B1BC;
    line-height: 2;
}

.icon {
    font-size: 1.5rem;
    color: #A1B1BC;
}

.icon-gapped-more {
    gap: 1.5rem!important;
}

.margin-more {
    position: relative;
    bottom:.3rem;
}

.flex-row {
    display: flex;
    align-items: center;
    gap: 1rem;
}

code {
    font-family: 'Lato', sans-serif;
}

/*******************************Breaking News*********************************/

/*******************************Contact*********************************/
.contact {
    background-color: #222533;
}
.contact__container { 
  /*   display: flex;
    gap: 2rem;
    padding: 11.5rem 29.3rem 10rem 37.5rem;
    margin-top: 10rem; */

    display: flex;
    gap: 2rem;
    padding: 8.8rem 29.3rem 10rem 37.5rem;
    margin-top: 12.7rem;
}

.contact__form p {
    margin-bottom: 1rem;
    line-height: 1.45;
}

.contact__form h2 {
    
   position: relative;
   right: .3rem;
}

.contact p,
.contact h2 {
    color: #fff;
}

.contact h2 {
    font-size: 3.6rem;
    margin-bottom: 3.77rem;
    font-weight:300;
}

.contact p {
    font-size: 1.4rem;
}

.icons-container {
    display: flex;
   
    gap: 2.6rem;
    font-size: 2.58rem;
    position: relative;
    top: .48rem;
    left: .35rem;
}

.icons-container i {
    color: #fff;
}

.icons-container > div:first-of-type{
    position: relative;
    right: .5rem;
}

.icons-container > div:nth-of-type(2){
  color: #16B5D8;
}

.google {
    filter: brightness(0) invert(1);
    width: 100%;
}

.contact__team h2 {
    margin-left: .9rem;
}
.contact__team__wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contact__team__container {
    display: flex;
    gap: 1.91rem;
    position: relative;
    left: 1rem;
    bottom: .5rem;
}

.contact__team__container__box {
    position: relative;
}

.contact__team__container__box--img {
    width: 12.5rem;
    height: 12.5rem;
    background-color: #fff;
    position: relative;
    top: .7rem;
}

.container__box--img--second {
    background-color: transparent;
    border: 5px solid #fff;
}

.contact__team__container__box span {
    color: #fff;
    font-size: 7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.contact__team__container__text {
    display: flex;
    flex-direction: column;
}

.contact__team__container__text p {
   max-width: 100%;
   line-height: 1.7;
   max-width: 80%;
   margin-bottom: .65rem;
   margin-right: .4rem;
}

.contact__team__container__text h3 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: .5rem;  
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2.8rem;
    gap: 2rem;
}

input, select, textarea {
    color: #fff;
}

::placeholder {
    color: #fff;
  }
  
 input,textarea {
    border-radius: 3px;
 }

input[type=text], input[type=email], input[type=number] {
    width: 100%;
    padding: 1.40rem 1.9rem;
    display: inline-block;
    border: 1px solid #636372;
    background: transparent;
    font-size: 1.45rem;
}

input[type=text]:focus, input[type=email]:focus, input[type=number]:focus {
    outline: none;
}

textarea {
    background-color: transparent;
    resize: none;
    height: 9.9rem;
}

.sendbtn {
    background-color: #1ABC9C;
    color: white;
    padding: 1.7rem 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: -.8px;
    position: relative;
    right: 3px;
}
.small-square__container {
    display: flex;
    gap: .5rem;
    position: relative;
    bottom: .5rem;
    left: 1.1rem;
}

.small-square__container div {
    width: 1rem;
    height: 1rem;
    background-color: #fff;
}

.small-square__container div:nth-of-type(2) {
    background-color: #1BEAC1;
}

.relative {
    position: relative;
}

.twitter img {
    position: absolute;
    left: .4rem;
    bottom: -.5rem;
}

.twitter i {
    color: #16B5D8;
}
/*******************************Contact*********************************/

/*******************************Share*********************************/
.share {
   /*  padding: 11.5rem 29.3rem 5rem 37.5rem; */
    background: #252838;
}

.share__container {
    display: flex;
    justify-content: center;
    padding:3.2rem;
    gap: 7.5rem;
    margin-left: .5rem;
}

.share__container div {
   font-size: 2.4rem;
}

.google-icon__container {
    width: 1.5rem;
    color: red;
}

.google-icon__container img {
    filter: none;
}
/*******************************Share*********************************/

/*******************************Resume*********************************/
.resume {
    background-color: #1A1C27;
    padding-top: 9rem;
    padding-bottom: 10rem;
}

.resume__container {
    /* padding: 8.95rem 37.5rem 11.25rem 37.5rem; */
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.resume__container h2 {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 400;
    margin-left: 2.6rem;
    margin-bottom: 2.6rem;
}

.resume__container h2::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 1.8rem;
    left: .2rem;
    top: .8rem;
    background-color: #1ABC9C;
}

.resume__container:nth-last-of-type() h2::after {
    left: 1rem;
}

.resume__container .flickr__widget h2::after {
    left: -2.2rem;
}

.resume__container p {
    color: #A1B1BC;
    font-size: 1.4rem;
    line-height: 1.72;
}

#resume__container__second-parag {
    margin-top: 2.4rem;
    margin-bottom: 2.3rem;
}

.resume__container__about__first-p {
    margin-bottom: 2rem;
}

.equal-size {
    max-width: 37rem;
}

.resume__container__about .logo {
    position: relative;
}

.resume__container__about img {
    position: absolute;
    top: 2.9rem;
    left: 18.1rem;
    width: 1.8rem;
}

.resume__container__logo  {
   position: relative;
}

.resume__container__logo p {
    font-size: 5.949rem;
    font-weight: 500;
    color: #fff;
}

.resume__container__logo p span {
    color: #1ABC9C;
    font-weight: 900;
}

.resume__container__about {
    position: relative;
}

.resume__container__about h2 {
    font-weight: 900;
    margin-left: 2.3rem
}

.resume__container__about h2 span {
    font-weight: 300;
}

.resume__container__about input {
    background: transparent;
    border-radius: 3px;
    padding: 2rem 0;
    border: none;
    background-color: #222533;
    width: 100%;
    max-width: 37rem;
}

.resume__container__about input::placeholder {
    color: #A1B1BC;
    padding-left: 3rem;
    letter-spacing: .3px;
    font-size: 1.34rem;
    transform: translateY(2px);
}

.resume__container__input_container {
    position: relative;
}

.search__btn {
    background: #1ABC9C;
    border: none;
    padding:.8rem 1.4rem;
    font-size: 2.5rem;
    color: #fff;
    position: absolute;
    right: 0;
    top: .45rem;
}

.resume__container__featured {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
}

.resume__container__featured h2 span{
    font-weight: 300;
}

.resume__container__featured p {
    font-weight: 700;
    margin-top: -1rem;
}

.resume__container__shape__container {
    display: flex;
}

.flex-gap {
    gap: 2rem;
}

.resume__container__shape__container p {
    font-size: 1.6rem;
}

.resume__container__shape__container span {
    display: block;
    width: 9rem;
    height: 9rem;
    background-color: #fff;
}

.resume__container__shape__container__different {
    position: relative;
}

.resume__container__shape__container__different p {
    color: #fff
}

.resume__container__shape__container__different span {
    background: #1ABC9C;
}

.resume__container__shape__container__different::after {
    position: absolute;
    content: '+';
    color: #fff;
    font-size: 7.2rem;
    font-weight: 300;
    bottom: -1px;
    left:2.5rem;
}

.bunch-squares {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}


.bunch-squares a {
   font-size: 1.6rem;
   font-weight: 700;
   color: #1ABC9C;
   margin-top: 1.7rem;
}

.resume__container__flickr__shape__container:nth-of-type(6) span {
   background: #f6f7f8;
   box-shadow: 0px 0px 0px 2px #fff;
}

.resume__container__flickr__shape__container span {
    display: block;
    width: 8.5rem;
    height: 8.5rem;
    background-color: #fff;
}

.flickr__widget h2 {
    position: relative;
}

.flickr__widget h2 {
    font-weight: 900;
    margin-bottom: 5.5rem;
    margin-left: 2.3rem;
    position: relative;
}

.flickr__widget h2 span {
    font-weight: 300;
}
/*******************************Resume*********************************/

/*******************************Footer*********************************/
.section__footer {
    background-color: #222533;
}

.section__footer__logo-container img {
    width: 1.8rem;
    margin-right: 1.95rem;
    position: relative;
    top: 3px;
}

.section__footer p {
    font-size: 1.5rem;
    color: #A1B1BC;
}

.section__footer a {
    font-size: 1.4rem;
    color: #A1B1BC;
}

.section__footer span {
    color: #1ABC9C;
}

.section__footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19rem;
    padding: 2.65rem 0;
}

.section__footer__container__copyright {
    display: flex;
    position: relative;
    top: 1px;
}

.footer__navigation ul {
    display: flex;
    gap: 3rem;
}

.footer__navigation ul li:nth-of-type(2) {
    position: relative;
    color: #1ABC9C;
}

.footer__navigation ul li:nth-of-type(2) a {
   color: inherit;
}

.footer__navigation ul li:nth-of-type(2)::after {
    position: absolute;
    content: '';
    width: 100%;
    max-width: 9.2rem;
    height: 2px;
    background-color: #1ABC9C;
    bottom: 4.5rem;
}

.footer__navigation a {
    color: #A1B1BC;
    display: flex;
}
/*******************************Footer*********************************/

/* Media Queries */
/* 1280 -> 1920 required
1024 -> 1279
768 -> 1023
375 -> 767 */

@media screen and (max-width: 1279px) {
  body {
    width: 100%;
  }
  .header_container {
    max-width: 105.2rem;
  }

  header {
      max-height: 120rem;
      height: 100%;
  }

  .navigation .logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.41rem;
    font-size: 3.569rem;
    position: static;
    margin-right: 0;
  }

  .about {

  }

  .about__container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }

  .about__container__img {
      position: static;
  }

  .about__container__img img {
    width: 100%;
  }

  .about h2 {
      text-align: center;
  }

  .circle {
    max-width: 50%;
  }

  .services__container .row-container {
    justify-content: center;
  }

  .services__container .row-container .icon-container {
    padding: 2rem;
    max-width: unset;
  }

  .recent-works {
    padding: unset;
  }

  .cats ul {
    justify-content: center;
  }

  .cats ul li:last-of-type {
    margin-left: unset;
  }

  .hover-div {
      text-align: center;
      position: static;
  }

  .testimonial {
    margin: unset;
    padding: 3rem;
  }

  .new_features {
      padding:0!important;
  }

  .new_features__container {
    flex-direction: column;
    align-items: center;
  }

  .column-first, .column-second, .column-third {
      max-width: 100%;
  }

  .colomn-first {
      order: 2;
  }

  .column-second {
      width: 100%;
      max-width: 44.6rem;
      order:1;
  }

  .column-third {
      order:3;
  }

  .big-shape {
      width: 100%;
      margin: unset;
  }

  .pricing-tables {
      padding:unset;
  }

  .table__container {
    grid-template-columns: repeat( auto-fit, minmax(200px, 293px) );  
    width: unset;
    height: unset;
  }

  .advertisement {
      flex-wrap: wrap;
  }

  .clear-layouts {
    padding:unset;
    display: flex;
    flex-direction: column;
  }

  .clear-layouts__container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .four__box__container {
      display: flex;
      justify-content: center;
  }

  .screen img {
      width: 100%;
  }

  .quadrangle {
      text-align: center;
  }

  .quadrangle img {
      width: 90%;
  }

  .breaking-news {
      padding:unset;
  }

  .articles__container {
      justify-content: center;
  }

  .article-block__container {
    max-width: 50%!important;
  }

  .contact__container {
     /*  padding: unset; */
      display: flex;
      flex-direction: column;
  }
  
}

/* @media screen and (max-width: 1023px) {
    .navigation ul {
      gap: 1.5rem
    }
} */