@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4;
}

html {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
}

body,html {
    /* width: 192rem; */
}

ul {
    list-style-type: none;
}

/*******************************header*********************************/
header h1 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 9px;
    margin-left: 1rem;
}


header p:first-of-type {
   font-size: 6rem;
   font-weight: 900;
   margin-bottom: .2rem;
}

header p:last-of-type {
    font-size: 3rem;
    font-weight: 300;
}


header, header button {
    color: #fff;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 128rem;
    background-color: #222533; 
}

header * {
    text-transform: uppercase;
}

header h1 span {
    color: #1ABC9C;
}

header button {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 900;
    padding: 1.5rem  2.7rem ;
    cursor: pointer;
    background-color: transparent;
    margin-top: 3.85rem;
    margin-bottom: 4rem;
    border-radius: 3px;
}

header button:first-of-type{
    border: 2px solid #fff;
    margin-right: 1.8rem;
}

header button:last-of-type {
    padding: 1.7rem  2.7rem ;
    background-color: #1ABC9C;
    border:none;
}

.header_container {
    position: relative;
    bottom: 1.9rem;
}

.radio_group {
    display: flex;
    gap: .7rem;
    justify-content: center;
    transform: scale(1.2);
}


/* .test:after {
    top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
} */
/*******************************header*********************************/

/*******************************Navigation*********************************/
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.1rem;
    margin-bottom: 11.7rem;
   /*  gap: 10rem; */
}

.navigation .logo {
    display: flex;
    align-items: center;
    gap: 1.41rem;
    font-size: 3.569rem;
    margin-right: 7.8rem;
    position: relative;
    right: 7.2rem;
}

.navigation .logo span {
    font-weight: 900;
}

.navigation img {
    max-width: 4rem;
    display: block;
}

.navigation ul {
    display: flex;
    color: #A1B1BC;
    gap: 4.63rem;
    font-size: 1.5rem;
}
/*******************************Navigation*********************************/

/*******************************Features*********************************/
.features {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}

.features_container {
  max-width: 27rem;
  text-align: center;

}

fieldset {
    border:1px solid #DBE7EF;
}

.features_container:nth-of-type(3){
    margin-top: -.5rem;
}

.features_container p:first-of-type {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1.8rem 3.59rem .7rem 3.59rem;
}

.features_container p:last-of-type {
    font-size: 1.4rem;
    font-weight: normal;
    color: #A1B1BC;
    padding: 0 4rem 3.2rem 4rem;
    line-height: 1.75;
}

.features_container--img {
    position: relative;
    padding: 2rem;
    display: inline-flex;
    border: 1px solid #DBE7EF;
    border-radius: 50%;
    z-index: 3;
}

.features_container--img:after{
    display: block;
    content: " ";
    position: absolute;
    z-index: -1;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border: 1px solid #DBE7EF;
    border-radius: 50%;
  }
/*******************************Features*********************************/

/*******************************About*********************************/
.about {
    display: flex;
    background-color: #ecf0f14d;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 8.83rem 0 10.7rem 0;
    gap: 3.1rem;
}

.about h2 {
    font-size: 3.6rem;
    font-weight: 300;
}

.about p {
    font-size: 1.4rem;
    line-height: 1.75;
    color:#A1B1BC;
}

.about p:first-of-type {
   margin: 1.2rem 0 2.2rem 0;
}

.about p:last-of-type {
    margin-bottom: 2.65rem;
}

.about button {
    text-transform: uppercase;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 900;
    color: #34495E;
    border: 1px solid #DBE7EF;
    border-radius: 3px;
    cursor: pointer;
    padding: 1.47rem 4rem 1.3rem 4.01rem;
    position: relative;
    right: 2px;
}

.about__container {
    width:57rem;
}

.about__container__img {
    max-width: 54.3rem;
    position: relative;
    left: 3.3rem;
    top: 1rem;
}
/*******************************About*********************************/

/*******************************Capabilities*********************************/
.capabilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222533;
    padding: 8.69rem 0 11.8rem 0;
}

.capabilities h2 {
    font-size: 3.6rem;
    font-weight: 300;
    color: #fff;
    margin-bottom: .84rem;
}

.capabilities p {
    color: #fff;
    line-height: 1.7;
}

.capabilities__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4.5rem;
}

.capabilities__container__text {
    text-align: center;
}

.capabilities__container__text > p {
    text-align: center;
    font-size: 1.4rem;
    max-width: 63.07rem;
}

.capabilities__container span {
    display: inline-flex;
    background-color: #ECF0F1;
    border-radius: 50%;
    font-size: 1.8rem;
    padding: 3.97rem 3.57rem 4.08rem 3.47rem;
    z-index: 10;
}

.capabilities__container span {
    box-shadow:
    0 0 0 40px hsl(0, 84%, 100%),
    0 0 0 15px hsl(0, 0%, 90%),
    0 0 0 48px #1ABC9C;
    margin: 10.4rem 10rem 7rem 10rem;
}

.capabilities__container .circle:nth-of-type(2) span {
    box-shadow:
    0 0 0 40px hsl(0, 84%, 100%),
    0 0 0 15px hsl(0, 0%, 90%),
    0 0 0 48px #21C2F8;
}

.capabilities__container .circle:first-of-type { 
    right: .8rem;
}

.capabilities__container .circle:nth-of-type(2) { 
    right: .2rem;
}

.capabilities__container .circle:nth-of-type(3) { 
    left: .2rem;
}

.capabilities__container .circle:nth-of-type(4) { 
    left: .7rem;
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;  
    max-width: 13%;
}


.circle p {
   text-align: center;
}

.circle p:first-of-type {
    font-size: 1.8rem;
  
}

.circle p:last-of-type {
    font-size: 1.4rem;
    margin-top: 1.1rem;
}

.circle-dark {
    background-color: #2C3E50!important;
}

.text-white {
    color: #fff;
}

/* .circle:before {
    content: " ";
    position: absolute;
    z-index: 1;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 5px solid #1ABC9C;
    border-radius: 50%;
}

.circle::after {
    content: " ";
    position: absolute;
    z-index: 1;
    top: -30px;
    left: -30px;
    right: -30px;
    bottom: -30px;
    border: 30px solid #fff;
    border-radius: 50%;
} */
/*******************************Capabilities*********************************/

/*******************************Services*********************************/
.services {
    margin-top: 8.7rem;
}
.services__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 63.7rem;
    text-align: center;
}

.text-container > h2 {
    font-size: 3.6rem;
    font-weight: 300;
    margin-bottom: 1.1rem;
}

.text-container > p {
    font-size: 1.4rem;
    color: #A1B1BC;
    line-height: 1.7;
}

.icon-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    max-width: 25%;
}

.icon-container img {
    margin-bottom: 4.14rem;
}

.icon-container h3 {
    font-size: 1.8rem;
    margin-bottom: 1.68rem
}

.icon-container p {
    color: #A1B1BC;
    font-size: 1.4rem;
    max-width: 33.958rem;
}
/*******************************Services*********************************/