* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

section {
    position: relative;
}

.image {
  width: 1925px;
  background-repeat: no-repeat;
  position: relative;
  height: 1120px;
}

.image > img {
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 0 95%;/* узнать почему так работает */
}

.bg-dark {
    position: absolute;
    background: linear-gradient(rgba(7, 7, 7, 0.02),rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.959));
    width: 100%;
    height: 100%; 
    z-index: 2;
}

.bg-blue {
    position: absolute;
    width: 100%;
    height: 100%;
    background: hsla(203, 82%, 44%, 0.15);
    z-index:1;
}

.main-title {
    /* background:url('./assets/Image\ 2.png') no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;

  
}

.main-title > img {
    /* Extra property for brutality*/
    /* filter: drop-shadow(0 0rem 1px black)
            drop-shadow(0 0rem 20px black)
            drop-shadow(0 0rem 40px rgb(25, 238, 71)); */      
    margin-bottom: 15rem;
}