* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

main {
   
}

html {
    font-size: 10px;
}

.container {
    position: relative;
    width: 192rem;
    height: 128rem;

}



#img-first {

    background: hsla(203, 82%, 44%, 0.2);
    background-image: url(./assets/Image\ 1.png);
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-blend-mode:overlay;
    
    position: absolute;
    overflow: hidden;
    color: #a51b1b;
  /*   clip-path: inset(12.6% 0% 3% 0%); */
    margin:-16.1rem,0 0 0.3rem;
   /*  transform: translate(0.3rem,-16.1rem); */
    z-index: 200;
   
  /*   filter: brightness(0.4); */

}

#img-second {
    position: absolute;
    top: 26rem;
    right: 11rem;
  

}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;

    border-radius: 20px;
    top: 0;
    left: 0;

 
}