@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");

* {
  margin: 0;
}

html {
  font-size: 10px;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

.medium {
  font-size: 2rem;
  padding-top: 2.5rem;
}

.small {
  font-size: 1.3rem;
  color: #c0c8d8;
}

.container {
  padding: 4rem;
}

hr {
  border: 1px solid #f1f1f1;
  margin: 3rem -4rem;
}

input,
label {
  font-size: 2rem;
}

input {
  margin: 1rem 0 3rem 0;
  padding: 0.8rem;
}

input [type="text"] {
  width: 550px;
}

input[type="radio"]:not(:first-of-type) {
  margin-left: 1rem;
}

input[type=submit],
input[type=reset] {
  padding: 1.7rem 2.2rem;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

input[type=submit] {
  background: rgb(75, 125, 219);
}


input[type=reset] {
  background-color: #fff;
  color: black;
  border: 1px solid #eee;
}

.block > label {
  padding-left: 1rem;
}

.block > p {
  font-size: 1.2rem;
}

.label-group--first {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

/* Hide the browser's default checkbox */
.label-group--first input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark--first {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #eee;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark--first:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.label-group--first input:checked ~ .checkmark--first:after {
  display: block;
}

/* Style the checkmark/indicator */
.label-group--first .checkmark--first:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #c0c8d8;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.label-group--second {
  display: inline-block;
  position: relative;
  padding: 0 45px;
  margin-bottom: 12px;
  user-select: none;
}

/* Hide the browser's default radio button */
.label-group--second input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */

/* When the radio button is checked, add a blue background */
.label-group--second input:checked ~ .checkmark {
  background-color: #dee2ea;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.label-group--second input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.label-group--second .checkmark:after {
  top: 8px;
  left: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #99a6bf;
}
